gradio
langchain>=0.2.0
langchain-core
langchain-community
langchain-mistralai
pydantic
requests
streamlit
requests
google-generativeai
langchain-google-genai
langchain-openai
pandas
beautifulsoup4
langchain-chroma
python-dotenv
langchain-pinecone 
pinecone-client


